.sidebar{
  width: 50px;
  background-color: #333333;
  height: 1080px;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    .selected{
      color: white;
    }
    li{
      line-height: 1.5em;
      color: #c7c7c7;
      cursor: pointer;
      padding: 0;
      font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
      font-size: 25px;
      padding-bottom: 15px;
      &:hover {
        color: white;
      }
    } 
  }
}

.modal {
 .modal-dialog { 
   color: #c7c7c7;
   font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
   .modal-content {   
      background-color: #252526;
      .modal-header {
	border-bottom: 1px solid #1e1e1e;
        .modal-title {
        
        }
      }
      .modal-body {
	label {
	  padding-right: 0px;
          padding-left: 40px; 
	}
	.input-field {
          padding-left: 0px; 
	}
        .form-control {
          color: #c7c7c7;
	  background-color: #333333;
	  border: 1px solid #1e1e1e;
	}
	.form-control:focus{
	  outline: none; 
	  outline-width: 0;
        }
      }
      .modal-footer {
      	border-top: 1px solid #1e1e1e; 
	.btn-close {
          color: #c7c7c7;
	  background-color: #333333;
	}
      }
    }
  } 
}
