<div class="ul" [ngClass]="isRoot?'root':null">
  <div class="li root-header" *ngIf="isRoot">
    <div class="icons">
      <i class="fa fa-folder" aria-hidden="true"></i>
      <i class="fa fa-file" aria-hidden="true"></i>
      <i class="fa fa-refresh" aria-hidden="true" (click)="reload()"></i>
    </div>
  </div>
  <div *ngFor="let el of dir; let i = index;">
    <div class="li" (click)="getFileOrDir(el, i)">
      <i *ngIf="el.type == 'dir'" [ngClass]="(el.state == 'open')?'open':null" class="fa fa-caret-right"
        aria-hidden="true"></i> {{el.name || 'undefined' }}
    </div>
    <div class="child-ul" *ngIf="el.type == 'dir' && el.state=='open'">
      <app-tree [dir]="el.dir" [open]="open.bind(this)"></app-tree>
    </div>
  </div>
</div>
