.content {
  display: flex;
  font-weight: 100;
  font-family: Helvetica;

  monaco-editor,
  [monaco-editor] {
    width: 100%;
    display: block;
  }
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}
