<div *ngIf="show">
  <!-- <app-browser></app-browser>  -->
  <div class="position-absolute">
    <app-editor class="float-right"></app-editor>
    <app-terminal class="float-right"></app-terminal>
  </div>
</div>
<div *ngIf="!show" class="warning">
  <div *ngIf="iFrame()">
    <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
    <h2>Screen resolution not high enough</h2>
    <h5><em>minimum resolution required: 640x480</em></h5>
    <h6><em>current resolution: {{width}}x{{height}}</em></h6>
  </div>
  <div *ngIf="!iFrame()">
    <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
    <h2>kIDE doest not support embed solution yet </h2>
  </div>
</div>
